.parameters {
  margin-top: 50px;
}

.listInfo {
  display: flex;
  justify-content: space-between;
}

.listSort {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .parameters {
    margin-top: 40px;
  }

  .listInfo {
    flex-direction: column;
    gap: 10px 0;
    font-size: 0.875rem;
  }

  .listSort {
    width: 150px;
  }
}
