/* src/app/cats/[id]/edit/page.module.css */

.title {
  position: relative;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 26px;
}

.title::before {
  position: absolute;
  left: -10px;
  bottom: 0px;
  width: 100%;
  height: 10px;
  transform: skew(-45deg);
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0 4px,
    #dfefff 4px 8px
  );
  content: "";
  z-index: -1;
}

.content {
  display: flex;
  column-gap: 50px;
  margin-top: 30px;
}

.contentTitle {
  font-size: 18px;
  font-weight: bold;
}

.table {
  width: 35%;
  flex-shrink: 0;
}

.tableList {
  margin-top: 15px;
}

.tableItem {
  display: flex;
  column-gap: 15px;
}

.tableItem + .tableItem {
  margin-top: 5px;
}

.tableHead {
  flex-shrink: 0;
  background-color: #ddd;
  padding: 0 15px;
  width: 150px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableHeadAdopted {
  composes: tableHead;
  background-color: yellow;
}

.tableDesc {
  min-height: 40px;
  flex-grow: 1;
}

.explanation {
  width: calc(100% - (35% + 50px));
}

.explanationItem + .explanationItem {
  margin-top: 30px;
}

.explanationText {
  margin-top: 10px;
}

.explanationText textarea {
  line-height: 1.5;
  width: 100%;
  border: 1px solid #d1d5db;
  resize: none;
  padding: 5px 10px;
  height: 100px;
}

.explanationFav :global(.p-top-newcat__fav) {
  display: block;
  border-radius: 9999px;
  background-color: #4a90e2;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 10px 10px;
}

.contact {
  display: table;
  margin: 50px auto 0;
}

.contact :global(.c-common-btn) {
  border-radius: 30px;
  font-size: 20px;
  width: 300px;
  line-height: 45px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* adopted */
.adoptedLabel {
  max-width: 90%;
  margin: 20px auto 40px;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  border: 1px solid #4a90e2;
  position: relative;
}

.adoptedLabel::after {
  content: "";
  background: #dfefff;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}

.adoptedLabelTitle {
  font-size: 18px;
}

.adoptedLabelAdopted {
  font-size: 26px;
  margin-top: 10px;
}

.adoptedImage {
  width: 760px;
  height: 420px;
  background-color: #d1d5db;
  position: relative;
  margin: 50px auto 0;
}

.adoptedImagePhoto {
  width: 100%;
  height: auto;
  display: block;
}

.adoptedDesc {
  max-width: 90%;
  margin: 50px auto 0;
}

.adoptedTitle {
  font-weight: bold;
  font-size: 18px;
}

.adoptedText {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 40px;
  line-height: 2;
}

.postTitle {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 30px;
}

.postTitleDesc {
  flex-grow: 1;
}

.postTitleDesc input {
  border: 1px solid #d1d5db;
  line-height: 35px;
  padding: 0 10px;
  display: block;
  width: 100%;
}

.postSelect {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #d1d5db;
  appearance: none;
  height: 2.8em;
  cursor: pointer;
}

.postSelectWrap {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.postSelectWrap::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #202020;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.postRadioWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em 2em;
  border: none;
}

.postRadioWrap label {
  display: flex;
  align-items: center;
  gap: 0 0.5em;
  position: relative;
  cursor: pointer;
}

.postRadioWrap label::before,
.postRadioWrap label::after {
  border-radius: 50%;
  content: "";
}

.postRadioWrap label::before {
  width: 18px;
  height: 18px;
  border: 2px solid #dee5eb;
  box-sizing: border-box;
}

.postRadioWrap label::after {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #dee5eb;
}

.postRadioWrap label:has(:checked)::after {
  background-color: #4a90e2;
  animation: anim-radio-2 0.3s linear;
}

@keyframes anim-radio-2 {
  0% {
    box-shadow: 0 0 0 1px transparent;
  }
  50% {
    box-shadow: 0 0 0 10px #4a90e233;
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}

.postRadioWrap input {
  display: none;
}

.postSubmit {
  margin-top: 50px;
}

.postThumbnail {
  margin-top: 30px;
}

.postThumbnailLabel {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.postThumbnailInput {
  margin-top: 10px;
}

.postThumbnailImage {
  margin-top: 10px;
}

.postThumbnailImageImgWrap {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  width: 185px;
  position: relative;
}

.postThumbnailImageText {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

.postThumbnailSelected {
  margin-top: 10px;
}

.postSlider {
  margin-top: 30px;
}

.postSliderLabel {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.postSliderSelected {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.postSliderSelectedItem:not(:last-child):after {
  content: ",";
}

.postSliderSelectedWrap {
  margin-top: 10px;
}

.postSliderSelectedText {
  font-size: 14px;
}

.postSliderSelectedItem {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.postSliderSelectedItemInner {
  position: relative;
}

.postSliderSelectedItemImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  position: relative;
}

.postSliderSelectedItemImageClose {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postSliderSelectedItemAdd {
  margin-top: 20px;
}

.postSliderSelectedItemAddLabel {
  font-size: 14px;
  display: block;
}

.postSliderSelectedItemAddInput {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 30px 0;
    margin-top: 30px;
  }

  .contentTitle {
    font-size: 1rem;
  }

  .table {
    width: 100%;
  }

  .tableHead {
    padding: 0 10px;
    min-height: unset;
    line-height: 35px;
    align-items: center;
    font-size: 0.9rem;
  }

  .tableHeadAdopted {
    font-size: 0.7rem;
  }

  .tableDesc {
    min-height: unset;
    line-height: 35px;
  }

  .explanation {
    width: 100%;
  }

  .explanationItem + .explanationItem {
    margin-top: 30px;
  }

  .explanationText {
    margin-top: 10px;
  }

  .explanationText textarea {
    padding: 5px;
    font-size: 0.875rem;
  }

  .contact {
    margin: 30px auto 0;
  }

  .postTitle {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    gap: 5px 0;
    margin-top: 30px;
  }

  .postTitleDesc {
    width: 100%;
  }

  .postSelect {
    padding: 0 10px;
    min-height: unset;
    line-height: 35px;
    font-size: 0.9rem;
    height: 35px;
  }

  .postSelectWrap::after {
    right: 10px;
  }

  .postRadioWrap {
    gap: 0 20px;
  }

  .postRadioWrap {
    font-size: 0.875rem;
  }

  .postSubmit {
    margin-top: 30px;
    font-size: 0.9rem;
    width: 150px;
    line-height: 30px;
  }

  .postThumbnail {
    margin-top: 30px;
  }

  .postThumbnailLabel {
    font-size: 1rem;
    margin-right: 0;
  }

  .postThumbnailInput {
    font-size: 0.875rem;
  }

  .postThumbnailImage {
    font-size: 0.875rem;
  }

  .postThumbnailImageImgWrap {
    width: 100px;
  }

  .postThumbnailImageText {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }

  .postSliderLabel {
    font-size: 1rem;
  }

  .postSliderSelected {
    font-size: 0.875rem;
  }

  .postSliderSelectedText {
    font-size: 0.875rem;
  }

  .postSliderSelectedItemImage {
    width: 80px;
    height: 80px;
  }

  .postSliderSelectedItemImageClose {
    top: 3px;
    right: 3px;
    font-size: 1rem;
  }

  .postSliderSelectedItemAdd {
    margin-top: 20px;
  }

  .postSliderSelectedItemAddLabel {
    font-size: 0.875rem;
  }

  .postSliderSelectedItemAddInput {
    font-size: 0.875rem;
  }
}
