.p-login {
  margin-top: 80px;
}

.p-login__content {
  max-width: 330px;
  margin: 0 auto;
}

.p-login__head {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
}

.p-login__form {
  margin-top: 50px;
}

.p-login__item + .p-login__item {
  margin-top: 30px;
}

.p-login__item-desc {
  margin-top: 10px;
}

.p-login__item-desc-input {
  margin-top: 10px;
  border: 1px solid #d9d9d9;
  line-height: 43px;
  padding: 0 10px;
  display: block;
  width: 100%;
}

.p-login__item-desc-input:placeholder {
  color: #d9d9d9;
}

.p-login__link {
  display: table;
  margin: 15px auto 0;
  text-align: center;
  font-size: 13px;
  text-decoration: underline;
}

.p-login__btn {
  margin-top: 50px;
}
