.catSearchParameters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catSearchItem {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.catSearchItemHalf {
  width: calc((100% - 2rem) / 2);
}

.catSearchLabel {
  text-align: center;
  width: 8.75rem;
  background-color: #e0e0e0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 0.875rem;
}

.catSearchInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.25rem;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 50px;
}

.more :global(.c-common-btn) {
  margin: 0;
}
