.catSearchParameters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catSearchParametersForm {
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 40px;
}
.catSearchItem {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.catSearchItemHalf {
  width: calc((100% - 2rem) / 2);
}

.catSearchLabel {
  text-align: center;
  width: 8.75rem;
  background-color: #e0e0e0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 0.875rem;
}

.catSearchInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.25rem;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 50px;
}

.more :global(.c-common-btn) {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .catSearchParameters {
    flex-direction: column;
    gap: 25px 0;
  }

  .catSearchParametersForm {
    margin-top: 30px;
    padding: 15px 15px 30px;
  }
  .catSearchItem {
    flex-direction: column;
    gap: 15px 0;
  }

  .catSearchItemHalf {
    width: 100%;
  }

  .catSearchLabel {
    width: 100%;
  }

  .catSearchInputs {
    gap: 10px 15px;
  }

  .more {
    flex-direction: column;
    gap: 20px 0;
    margin-top: 30px;
  }
}
