.p-cats-search__parameters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-cats-search__item {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.p-cats-search__item.half {
  width: calc((100% - 2rem) / 2);
}

.p-cats-search__label {
  text-align: center;
  width: 8.75rem;
  background-color: #e0e0e0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 0.875rem;
}

.p-cats-search__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.25rem;
}

.p-top-newcat__more {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.p-top-newcat__more .c-common-btn {
  margin: 0;
}
