@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


.c-container {
    max-width: 1040px;
    padding:0 20px;
    margin: 0 auto;
}

/* 
body {
  font-family: 'Zen Kaku Gothic New', sans-serif!important;
} */

.c-button-opacity {
    transition: .3s ease;
}

.c-button-opacity:hover {
    opacity: .7;
}

