/* src/app/page.module.css */
.topMvDesc {
  margin-top: 40px;
}

.topMvText {
  text-align: center;
  line-height: 1.5;
}

.topMvText + .topMvText {
  margin-top: 15px;
}

.topNewCat {
  margin-top: 50px;
}
