/* src/app/page.module.css */
.topMvDesc {
  margin-top: 40px;
}

.topMvText {
  text-align: center;
  line-height: 1.5;
}

.topMvText + .topMvText {
  margin-top: 15px;
}

.topNewCat {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .topMvDesc {
    margin-top: 30px;
  }

  .topMvText {
    font-size: 0.9rem;
  }

  .topMvText + .topMvText {
    margin-top: 15px;
  }

  .topNewCat {
    margin-top: 50px;
  }
}
