/* src/components/CommentForm/CommentForm.module.css */
.commentFormInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentFormTextarea {
  width: 80%;
  border: 1px solid #ddd;
  padding: 10px;
}

.commentFormSubmit {
  width: 16%;
  flex-shrink: 0;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
