/* src/styles/catSlider.css */

.p-detail-slider__main-wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
}

.p-detail-slider__main {
  width: 760px;
  height: 420px;
}

.p-detail-slider__main-slide {
  display: block;
  background-color: #d1d5db;
}

.p-detail-slider__main-image {
  width: 100%;
  height: auto;
  display: block;
}

.p-detail-slider__thumb {
  margin-top: 30px;
}

.p-detail-slider__thumb-slide {
  width: 135px !important;
  height: 135px !important;
  display: block;
  cursor: pointer;
  opacity: 0.5;
}

.p-detail-slider__thumb-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.p-detail-slider__thumb-image {
  width: 100%;
  height: auto;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.p-detail-slider__fav {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-image: url(/common/icon-fav.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.p-detail-slider__fav.added {
  background-image: url(/common/icon-fav_added.png);
}
