/* src/components/Checkbox/Checkbox.module.css */

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  position: relative;
  font-size: 0.875rem;
}

.checkboxLabelInput {
  position: absolute;
  opacity: 0;
  width: 1rem;
  height: 1rem;
  margin: 0;
  cursor: pointer;
}

.checkboxBox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #d6dde3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.checkboxBox::after {
  content: "";
  width: 5px;
  height: 10px;
  border: solid #4a90e2;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.checkboxLabelInput:checked + .checkboxBox::after {
  display: block;
}

@media screen and (max-width: 768px) {
  .checkboxLabel {
    font-size: 0.8rem;
  }
}
