.login {
  margin-top: 80px;
}

.loginContent {
  max-width: 330px;
  margin: 0 auto;
}

.loginItemHead {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
}

.loginForm {
  margin-top: 50px;
}

.loginItem + .loginItem {
  margin-top: 30px;
}

.loginItemDesc {
  margin-top: 10px;
}

.loginItemDescInput {
  margin-top: 10px;
  border: 1px solid #d9d9d9;
  line-height: 43px;
  padding: 0 10px;
  display: block;
  width: 100%;
}

.loginItemDescInput:placeholder {
  color: #d9d9d9;
}

.loginBtn {
  margin-top: 50px;
}

.loginLink {
  display: table;
  margin: 50px auto 0;
  text-align: center;
  font-size: 13px;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .login {
    margin-top: 40px;
  }

  .loginItemHead {
    padding-bottom: 5px;
    font-size: 0.875rem;
  }

  .loginForm {
    margin-top: 40px;
  }

  .loginItemDesc {
    margin-top: 10px;
  }

  .loginItemDescInput {
    margin-top: 10px;
    line-height: 35px;
    font-size: 0.875rem;
  }

  .loginBtn {
    margin-top: 30px;
  }

  .loginLink {
    margin: 30px auto 0;
    font-size: 0.8rem;
  }

  .subMvImage {
    background-position: right;
  }
}
