/* src/components/CatList/style.css */

.topNewcatList {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .topNewcatList {
    margin-top: 30px;
    gap: 20px;
  }
}
