/* src/components/MyPosts/myPosts.module.css */

.myPostsList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  line-height: 1.3;
}

.myPostsImage {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.myPostsItem {
  width: calc((100% - 138px) / 4);
}

.myPostsInfo {
  margin-top: 15px;
}

.myPostsDate {
  margin-top: 10px;
}

.myPostsBadge {
  margin-top: 10px;
}
