/* src/app/adopted/page.module.css */

.parameters {
  margin-top: 50px;
}

.parametersForm {
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 40px;
}

.listInfo {
  display: flex;
  justify-content: space-between;
}

.listSort {
  width: 300px;
}

.subMvBg {
  background-color: rgba(0, 0, 0, 0.2);
}
