/* src/components/CommentItem/CommentItem.module.css */

.commentListItemUser {
  display: flex;
  align-items: center;
}

.commentListItemIcon {
  flex-shrink: 0;
}

.commentListItemName {
  text-decoration: underline;
  margin-left: 10px;
  font-weight: 700;
}

.commentListItemDate {
  margin-left: 20px;
  font-size: 14px;
}

.commentListItemContent {
  margin-top: 10px;
}

.commentListItemDelete {
  margin-top: 5px;
  flex-shrink: 0;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.commentListItem + .commentListItem {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
